/* Custom styles to mimic the example website */
details {
    margin-left: -0.75rem;
    margin-top: -0.75rem;
    margin-bottom: -0.75rem;
    padding: .8em;
    border-radius: 0px
}

body {
    font-family: Arial, sans-serif;
    color: #333;
}

.navbar {
    background-color: #00266b;
}

.navbar-brand, .nav-link {
    color: white !important;
}

h1, h2, h3 {
    color: #333;
}

a {
    color: #0077be;
}

a:hover {
    text-decoration: underline;
}

.about-links {
    margin-top: 1em;
}

.navbar .bi {
  font-size: 1.2em;
  margin-right: .5em;
}

.navbar a:hover {
  color: #0056b3;
}

body .fa-google-scholar {
    color: black !important;
}

